.posts
  display: flex
  flex-direction: column

.button_block
  display: flex
  justify-content: space-between
  margin-top: 15px

.posts_textarea
  background-color: #c0c0c0
  padding: 0
  margin: 0
  border: none

.posts_button
  width: 180px
  height: 40px
  font-size: 15px
  text-transform: uppercase
  background-color: #c0c0c0
  border: 1px solid rgb(59, 59, 59)
  color: rgb(59, 59, 59)


