.friends_block
  border: 2px solid green

.info_block
  border: 2px solid green

.posts
  display: flex
  flex-direction: column

.button_block
  display: flex
  justify-content: space-between
  margin-top: 15px

.posts_button
  width: 180px
  height: 40px
  font-size: 15px
  text-transform: uppercase
  background-color: #fff
  border: 1px solid rgb(59, 59, 59)
  color: rgb(59, 59, 59)


