.posts {
    display: flex;
    flex-direction: column;
}

.posts_textarea {
    width: 400px;
}

.button_block {
    margin-top: 15px;
}

.posts_button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgb(59, 59, 59);
    color: rgb(59, 59, 59);
    margin-right: 10px;
}

