.dialog_window
  height: 80vh
  display: flex
  flex-direction: column

  .dialog_header,
  .dialog_footer
    margin: 20px
    height: 50px
    display: flex
    justify-content: space-between

  .dialog_footer
    justify-content: flex-start

  .dialog_body
    display: flex
    justify-content: space-between
    flex-grow: 1
    border: 2px solid black
    .message_one
      width: 200px
      height: 70px
      border: 2px solid red
    .message_two
      width: 200px
      border: 2px solid red
      height: 70px



textarea
  width: 500px
