.dialog_window
  height: 80vh
  display: flex
  flex-direction: column

  .dialog_header,
  .dialog_footer
    margin: 20px
    height: 50px
    display: flex
    justify-content: space-between

  .dialog_footer
    justify-content: flex-start

  .dialog_body
    flex-grow: 1
    border: 2px solid black


textarea
  width: 500px
