@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap')

.site_name
  text-transform: uppercase
  color: white
  font-size: 30px
  span
    font-family: 'Train One', cursive
    border: 2px solid white
    //padding: 10px

    padding-left: 15px
    padding-right: 15px
    line-height: 60px
    text-align: center
    display: inline-block
    font-size: 45px

.login
  color: white
  font-size: 30px
  display: flex
  align-items: center