.nav
  grid-area: n
  background-color: mintcream
  border: 2px solid black

  .nav_list
    padding: 0
    margin: 20px
    list-style: none

    .nav_item
      margin-bottom: 15px

    .nav_item:last-child
      margin-bottom: 0

      .nav_item a
        color: black


