@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap')

.nav
  grid-area: n
  font-family: 'Inconsolata', monospace

  .nav_list
    padding: 0
    margin: 20px
    list-style: none

    .nav_item
      margin-bottom: 15px

      .nav_item_link
        font-size: 18px
        color: black
        text-transform: uppercase

    .nav_item:last-child
      margin-bottom: 0

