.profile_info
  display: grid
  grid-template-rows: 200px 100px
  grid-template-areas: "ib" "mi"

  .img_block
    width: 100%
    grid-area: ib
    overflow: hidden

    img
      width: 100%


  .menu_info
    grid-area: mi