.app-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-rows: 100vh 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'n m m';
}

.app-wrapper-content {
    margin-top: 20px;
    grid-area: m;
    display: grid;
    grid-template-columns: 5fr 5fr;
}




