
.app-wrapper {
    height: 100vh;
    /*width: 100%;

    !*grid-template-columns: 4fr 1fr;*!
    gap: 0px 0px;
    grid-template-areas:
    "n m";*/
    display: grid;
    grid-template-rows: 100px 100vh;
}

.header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(225, 225, 225, 0.4);
}

.app-wrapper-content {
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


.main_content {
    margin-right: 25px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    display: grid;
    grid-template-columns: 4fr;
    grid-template-areas:
    " m"
}

.profile_navbar {
    /*height: calc(100% - 70px);*/
    height: 100%;
    padding: 25px;
    /*background-color: rgb(255, 255, 255);*/
    max-width: 500px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: n;
}

.main {
    padding: 25px;
    padding-top: 0;
    grid-area: m;
}

.main_content_friends {
    background-color: rgba(0, 0, 0, 0.5);
}







