
.app-wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px 0px;
    grid-template-areas:
    "n m";
}

.navbar {
    grid-area: n;
    border: 2px solid lightgray;
}

.header {
    border: 2px solid lightgray;
}

.app-wrapper-content {
    grid-area: m;
    border: 2px solid lightgray;
    display: grid;
    grid-template-rows: 80px 100vh;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}







